* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom, #aeb6bf, #eee8d0);
  background-attachment: fixed;
  font-family: sans-serif;
}
section {
  width: 80vw;
  margin: 5% auto;
  padding-top: 40;
  text-align: center;
  line-height: 25px;
}
h1 {
  margin-bottom: 20px;
}

.nav-link {
  color: rgba(235, 223, 223, 0.844);
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: rgb(103, 121, 103);
}

.navbar {
  font-family: "Sono", sans-serif;
  display: flex;
  align-items: center;
  z-index: 2;
}

.kosar {
  display: block;
  text-align: right;
}

.festek {
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-bottom: 55px;
}

.festek > img {
  margin-bottom: 20px;
}

.festek:hover {
  border: 2px solid rgba(112, 119, 112, 0.463);
}

.festek > p > span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 110%;
}

.festek > p {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bevasarlo_kocsi {
  position: relative;
}

.kosar_mennyiseg {
  top: -13px;
  right: -5px;
  position: absolute;
  font-size: 16px;
  color: red;
}

.emberek {
  line-height: 10px;
}

.szoveg {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  margin-top: 10px;
  margin-left: 20px;
  line-height: 30px;
}

.nev {
  text-decoration: underline;
}

.nev:hover {
  cursor: help;
  color: coral;
}

#vissza {
  font-size: 50px;
  position: fixed;
}

#vissza:hover {
  cursor: pointer;
}

.price-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

.shopEszkozok {
  display: grid;
  grid-template-columns: repeat(3, 223px);
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1000px) {
  .shop,
  .shopEszkozok {
    grid-template-columns: repeat(3, 223px);
  }
}

@media (max-width: 760px) {
  .shop,
  .shopEszkozok {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .shop,
  .shopEszkozok {
    grid-template-columns: repeat(1, 223px);
  }
}

.shop-oldal {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 20px;
  justify-content: left;
}

@media (max-width: 1000px) {
  .shop-oldal {
    grid-template-columns: repeat(3, 223px);
  }
}

@media (max-width: 760px) {
  .shop-oldal {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .shop-oldal {
    grid-template-columns: repeat(1, 400px);
  }
}

.mennyiseg_style {
  display: none;
  font-family: "Times New Roman", Times, serif;
  color: rgb(150, 139, 13);
  font-size: 30px;
}

.x-icon {
  display: none;
  font-family: "Times New Roman", Times, serif;
  color: rgb(150, 139, 13);
  font-size: 30px;
}

.bevasarlo-kosar,
.kosar_mennyiseg {
  cursor: pointer;
}

.bi-x-lg {
  color: red;
  font-weight: bold;
}

.adatok {
  text-align: left;
  margin-right: 150px;
}

.gombok {
  margin-right: 250px;
}

* {
  font-family: "Della Respira", serif !important;
  font-size: 103%;
}
.kosar_mennyiseg {
  font-family: sans-serif !important;
}

.button {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  ); /* Gradient that transitions through the colors of the rainbow */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline */
  font-size: 16px; /* Set the font size */
  transition: background-position 2s; /* Add a transition for the background-position property */
}

.button:active {
  background-position: -100%; /* Shift the gradient to the left when the button is clicked */
}

.megjelenesKerdes {
  text-align: left;
  padding-top: 15px;
  color: rgba(255, 255, 255, 0.63);
}

[id^="hidden"] {
  display: none;
}

#blogKuldes {
  border: 1px solid black;
}

#blogKuldes:hover {
  background-color: white;
}

#bodyContent {
  max-width: 30px !important;
}

#red {
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.popovergomb {
  margin-left: 8rem;
  margin-top: -3.5rem;
}

.keret > .col {
  margin-left: 5rem;
  margin-top: 5rem;
}
.row {
  z-index: 1;
}

.info > li {
  list-style: none;
}

.info > li > a {
  text-decoration: none;
  cursor: zoom-in;
}

.info > li > a > svg:hover {
  border: 1px solid gray !important;
  border-width: 25% !important;
}

.card-body {
  text-align: left !important;
}

.kerdojel {
  margin-left: -1.8em;
}

.bal {
  margin: 0;
  padding: 0;
  float: left;
}

.ketto {
  margin-top: 50px;
  font-weight: bold;
}

.margo {
  margin-top: 80px !important;
}

.harom {
  margin-top: 8em !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: rgba(255, 255, 255, 0);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 650px;
}
.slider::before,
.slider::after {
  background: rgba(255, 0, 0, 0);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(150px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.slider {
  margin-top: 85px;
}

@media (max-width: 1000px) {
  .slide,
  .slider {
    display: none;
  }
}

@media (max-width: 760px) {
}

@media (max-width: 500px) {
}

.container2 {
  width: 80vw;
  margin: 0 auto;
  padding-top: 40;
  text-align: center;
  line-height: 25px;
}

.kep {
  border-radius: 10%;
}

.keret {
  background-color: linear-gradient(to bottom, #aeb6bf59, #eee8d0);
  height: 45rem;
}

h5 > svg {
  margin-right: 10px;
}

.keret > p {
  height: 20rem !important;
}

#aszf {
  cursor: pointer;
  color: rgb(133, 87, 13);
}

.cegunk {
  width: 100% !important;
}

.nemcim {
  font-weight: 100%;
  font-size: x-large;
}

#modal-text {
  line-height: 1.5em;
}

#mbody {
  background: linear-gradient(to bottom, #aeb6bf59, #eee8d0);
}
.fooldalcim{
  text-align: left;
  position: fixed; left: 2rem;top: 6rem;
}
.fooldaljegyzet{
  text-align: left;
  position: fixed; left: 2rem;top: 10rem;
  margin-right: 60rem;
  
}

a:link{
  text-decoration: none;
}

h5 {
  min-width: 15em;
}

.min-vh-100 > a:hover {
  font-size: none;
}

.min-vh-100 > a > img:hover,
.min-vh-100 > img:hover {
  cursor: pointer;
  border: 0.1px solid gray !important;
}
